@model QuanLySieuthimini1.Models.Nhomhang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nhomhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_NH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_NH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_NH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
