
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Trang quản lý dành cho Người Quản Lý</h2>
<p>Với khẩu hiệu tất cả là vì sự an toàn cho người tiêu dùng siêu thị Mini Mart của chúng tôi luôn 
    mang đến cho mọi người tiêu dùng những sản phẩm giá cả phải chăng - an toàn thực phẩm - sản phẩm đa dạng </p>

